In [7]:
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar
import matplotlib.pyplot as plt

df = pd.read_csv('../data/processed/forecast_almoco_rf_30d.csv', parse_dates=['date'])
df = df.sort_values('date')
df.set_index('date', inplace=True)

df.head()

            almoco_pred_rf
date
2024-10-05         118.350
2024-10-06         110.000
2024-10-07         110.100
2024-10-08          98.525
2024-10-09          98.100

In [8]:
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar
import matplotlib.pyplot as plt

df = pd.read_csv('../data/raw/comensais22-24-clean.csv', parse_dates=['Data'])
df = df.sort_values('Data')
df.set_index('Data', inplace=True)

df.head()

            Comensais_almoço  Comensais_janta
Data
2022-03-16             315.0            100.0
2022-03-17             220.0            110.0
2022-03-18             350.0            120.0
2022-03-19               NaN              NaN
2022-03-20               NaN              NaN